<h1>MIS TWEETS</h1>

<% @tasks.each do |task| %>
 <%=task.description %>   <%= link_to('Ver mas',task_path(task))  %>

 <%if current_user.id==task.user_id%>
    <%= link_to('Eliminar',task_path(task), method: :delete)  %>
 <%end%>

 </br>
 <% end %>

<%= link_to('Crear tweet',new_task_path)  %>