<h3>TWEETN\'T </h3>


<%=@task.description %>


<h4>Tweet publicado por</h4>
<%= User.find(@task.user_id).email %> <%=@task.created_at.to_formatted_s(:short)%>
</br>
<%= link_to('View all task',tasks_path)  %>