<h3>TWEETN\'T </h3>


<%=@tweet.description %>


<h4>Tweet publicado por</h4>
<%= User.find(@tweet.user_id).email %> <%=@tweet.created_at.to_formatted_s(:short)%>
</br>
<%= link_to('View all tweet',tweets_path)  %>